<div class="menu">
  <a href="#main" class="icon-main">R</a>
  <a href="#skills" class="icon-skills"></a>
  <a href="#projects" class="icon-projects"></a>
  <a href="#contact" class="icon-contact"></a>
  <div class="divider"></div>
  <a href="https://www.linkedin.com/in/rodrigo-josé-de-góis/" class="icon-linkedin"></a>
  <a href="https://github.com/RodrigoGoisOficial" class="icon-github"></a>
</div>

<section class="main" id="main">
  <div class="content">
    <div class="leftside">
      <h1>Olá,<br />
        Eu sou o <span>R</span>odrigo,<br />
        Engenheiro de software.
      </h1>
      <a href="#contact"><button class="btn-contact">Entrar em contato</button></a>
    </div>
    <div class="img"></div>
  </div>
</section>

<section class="skills" id="skills">
  <h1>Competências</h1>

  <p>Backend</p>
  <div class="loading backend"></div>

  <p>Frontend</p>
  <div class="loading frontend"></div>

  <p>Devops</p>
  <div class="loading devops"></div>

  <p>Mobile</p>
  <div class="loading mobile"></div>
</section>

<section class="projects" id="projects">
  <h1>Portifólio e<br/> Experiências</h1>

  <div class="boxes">
    <div class="box blue">C#</div>
    <div class="box green">PHP</div>
    <div class="box orange">Angular</div>
  </div>
  <div class="boxes">
    <div class="box blue">Sql Server</div>
    <div class="box green">Postgresql</div>
    <div class="box orange">GitHub</div>
  </div>
</section>

<section class="contact" id="contact">
  <h1>Entrar em<br/>contato</h1>

  <div class="form">
    <div class="row">
      <input class="input" type="text" placeholder="Nome" [(ngModel)]="name">
      <input class="input" type="text" placeholder="Email" [(ngModel)]="email">
    </div>
    <input class="input" type="text" placeholder="Assunto" [(ngModel)]="subject">
    <textarea class="textarea" placeholder="Mensagem" [(ngModel)]="message"></textarea>
    <button class="submit" type="submit" (click)="sendMessage()">Enviar</button>
  </div>
</section>
